@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --doro-width: 800px;
    --doro-height: 500px;
    --leaf-width: 90px;
    --stem-width: 35px;

    --primary-dark: #9f3e2c;
    --primary: #ff6347;
    --primary-light: #ff9e8c;
}

* {
    margin: 0;
    padding: 0; 
}

body {
    background-color: skyblue;

}

.component {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-evenly;
}

.controls {
    overflow: hidden;
}

.digital-display {
    font-family: 'Orbitron', sans-serif;
}

button {
    height: 50px;
    width: 150px;
}

#root {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#pomodoro {
    position: absolute;
    color: var(--primary-dark);    
    background-color: var(--primary);
    border-radius: 65% 65% 70% 70%;
}

#display-grid {
    display: grid;
    grid-template-columns: repeat(2, calc(var(--doro-width) / 2));
    grid-template-rows: 100px repeat(2, 150px) 100px;
    height: var(--doro-height);
    width: var(--doro-width);
    border-radius: 65% 65% 70% 70%; 
    overflow: hidden;
}

#timer {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    align-self: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-evenly;
    margin: 5% 20% 5% 20%;
    border-radius: 5% 5% 100% 100%;
    background-color: var(--primary-light);
}


#session-controls {
    background-color: var(--primary-light);
    grid-row: 2 / 3;
    align-self: bottom;
}

#break-controls {
    background-color: var(--primary-light);
    grid-row: 2 / 3;
    align-self: bottom;
}




/* Visual stuff for stem and leaves */ 
#stem {
    display: block;
    background-color: green;
    width: 35px;
    height: 150px;
    position: absolute;
    top: -75px;
    left: calc(calc(var(--doro-width) / 2) - calc(var(--stem-width) / 2));;
    border-radius: 10px;
}

.leaves {
    display: block;
    background-color: green;
    width: var(--leaf-width);
    height: 90px;
    position: absolute;
    
}

#leaf-1 {
    transform: skew(20deg, 20deg);  
    top: 10px;    
    left: calc(calc(var(--doro-width) / 2) - calc(var(--leaf-width) / 2));
}

#leaf-2 {
    transform: rotate(-45deg) skew(30deg, 30deg);
    left: calc(calc(var(--doro-width) / 2) - calc(var(--leaf-width) / 2));
    top: 10px;
}

#leaf-3 {
    transform: rotate(90deg) skew(20deg, 20deg);
    left: calc(calc(var(--doro-width) / 2) - calc(var(--leaf-width) / 2));
    top: 10px;
}

